.links {
  outline: none;
  text-decoration: none;
  font-size: 135%;
}

.links:visited {
  color: #0b6d0c;
}

.links:focus {
  border-bottom: 2px solid #1771F1;
}

.links:hover {
  border-bottom: 2px solid #1771F1;
}

.links_docs {
  border-bottom: 2px solid #004156;
  text-decoration: none;
  color: #004156;
}

.links_docs:hover {
  border-bottom: 2px solid #1771F1;
}

.docs-list {
  padding: 20px;
  position: sticky;
  float: left;
  top: 0;
}
