{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block logo_for_page %}
<img src=" static/users/img/logo_site.jpg" class="rounded bi me-5" alt="logo.svg" width='192' height='65.4'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-5 pb-5 text-center">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="display-5"><strong>{{ news.title }}</strong></h1>
            <p class="h5 pt-4">Автор новости: <i>{{ news.author }}</i></p>
            <p class="h5 pt-2">Дата выхода: {{ news.date }}</p>
            {% if user.is_superuser %}
                <p class="h5 pt-2">
                    Просмотры: {{ news.total_views }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-eye mb-1" viewBox="0 0 16 16">
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                </p>
            {% endif %}
        </div>
    </div>
    <img src="/static/users/{{ news.img.url }}" alt=""
    class="rounded-3 w-50 mx-auto d-block pb-3">
    <div class="pt-5 pb-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            {% for p in p_tag %}
              <p class="lead"><strong>{{p}}</strong></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
