{% extends 'registration/base_registration.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <form action="{% url 'password_reset' %}" method="post">

        <a href="/">
            <img src="{% static 'users/img/logo_site.jpg' %}" class="mb-4"  width="249.6" height="85">
        </a>

        <h1 class="h3 mb-4 mt-2 fw-normal">Восстановление пароля</h1>

        <div class="form-floating">
            <input 
            type="text" 
            name="email" 
            autocomplete="email" 
            maxlength="254" 
            required id="id_email"
            class="form-control" 
            placeholder="Email" 
            id="floatingInput">
            <label for="id_email">Адрес электронной почты</label>
        </div><br>

        {% csrf_token %}
        <button type="submit" class="btn btn-success">Отправить письмо</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2021–2023 ReLife</p>

    </form>
</main>
{% endblock %}
